
<%= render "shared/header_menu" %>

    <div class="container-fluid">
      <div class="row">

        <%= render partial: "shared/side_menu", locals: { page_name: 'jobs' } %>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header col-xs-11">Jobs</h1>

          <%= primary_button "Create", new_job_path, id: "new_job", class: "col-xs-1" %>

          <div class="table-responsive">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Job Title</th>
                  <th>Overview</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>

              <tbody>

                <% @jobs.each do |job| %>
                <tr>
                  <td><%= link_to job.title, job_path(job) %></td>
                  <td><%= job.overview %></td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <% end %>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
