<%= render "shared/header_menu" %>

<div class="container">

  <h2 class="form-signin-heading">Create a new Job</h2>

  <%= form_for :job, url: jobs_path,  html: { class: "form-signin", role: "form" } do |j| %>
    <%= j.text_area :title, { class: "form-control", placeholder: 'Title'} %>
    <%= j.text_area :overview, { class: "form-control", placeholder: 'Overview' } %>
    <%= j.submit class: "btn btn-lg btn-primary btn-block" %>
  <% end %>
</div>
