<%= form_for(@candidate) do |f| %>
  <% if @candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% @candidate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :contact_number %><br>
    <%= f.text_field :contact_number %>
  </div>
  <div class="field">
    <%= f.label :years_of_experience %><br>
    <%= f.number_field :years_of_experience %>
  </div>
  <div class="field">
    <%= f.label :availability %><br>
    <%= f.text_field :availability %>
  </div>
  <div class="field">
    <%= f.label :cover_letter %><br>
    <%= f.text_area :cover_letter %>
  </div>
  <div class="field">
    <%= f.label :recruiter_notes %><br>
    <%= f.text_area :recruiter_notes %>
  </div>
  <div class="field">
    <%= f.label :direct %><br>
    <%= f.check_box :direct %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
